.topnav,
footer {
  background-color: rgb(132, 189, 169);
  overflow: hidden;
  font-family: "Zilla Slab", serif;
}

/* Style the links inside the navigation bar */
.topnav a,
footer {
  max-width: max-content;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(83, 116, 104);
  color: white;
}

.second-page-container {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 80ch)
    minmax(1.2rem, 1fr);
}

img {
  grid-column: 1 / 4;
  width: 50%;
  max-width: 100ch;
  justify-self: center;
}

.second-page-title {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}

.second-page-content {
  grid-column: 2;
}

.second-page-sidebar {
  grid-column: 1 / 4;
  width: 100%;
  height: 6rem;
  max-width: inherit;
  justify-self: center;
}

.bottom-nav {
  grid-column: 1 / 4;
  width: 100%;
  max-width: inherit;
  justify-self: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 400%;
  font-family: "Zilla Slab", serif;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 100%;
  margin-bottom: 2rem;
  font-family: "Zilla Slab", serif;
}

h3 {
  align-self: start;
}

p {
  font-family: "Zilla Slab", serif;
}

main {
  padding-top: 3rem;
  justify-content: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: "Zilla Slab", serif;
  font-size: 70%;
}

.blog-preview-one {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/cat-img.png");
}

.blog-preview-one:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/cat-img.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
}

.blog-preview-two {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/shiba.jpeg");
  background-size: 85%;
}

.blog-preview-two:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/shiba.jpeg");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 85%;
}

.blog-preview-three {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/croc.png");
  background-size: 85%;
}

.blog-preview-three:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/croc.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 85%;
}

.blog-preview-four {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/sushi.png");
  background-size: 90%;
}

.blog-preview-four:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/sushi.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 90%;
}

.blog-preview-five {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/hamster.png");
  background-size: 80%;
}

.blog-preview-five:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/hamster.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 80%;
}

.blog-preview-six {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/pusheen.png");
  background-size: 85%;
}

.blog-preview-six:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/pusheen.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 85%;
}

.blog-preview-seven {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/koala.png");
  background-size: 95%;
}

.blog-preview-seven:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/koala.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 95%;
}

.blog-preview-eight {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/earth.svg");
  background-size: 90%;
}

.blog-preview-eight:hover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/earth.svg");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 90%;
}

.blog-preview-nine {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/unicorn.png");
  background-size: 80%;
}

.blog-preview-nine:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("media/unicorn.png");
  text-decoration: underline;
  background-color: rgb(163, 148, 194);
  background-size: 80%;
}

.blog-preview,
.blog-preview-one,
.blog-preview-two,
.blog-preview-three,
.blog-preview-four,
.blog-preview-five,
.blog-preview-six,
.blog-preview-seven,
.blog-preview-eight,
.blog-preview-nine {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 169, 205);
  color: white;
  height: 15rem;
  width: 15rem;
}

a.blog-preview,
.blog-preview-one,
.blog-preview-two,
.blog-preview-three,
.blog-preview-four,
.blog-preview-five,
.blog-preview-six,
.blog-preview-seven,
.blog-preview-eight,
.blog-preview-nine {
  text-decoration: none;
}

a.blog-preview:hover {
  text-decoration: underline;
  background: rgb(163, 148, 194);
}

@media (min-width: 320px) {
  main {
    grid-template-columns: repeat(1, 0fr);
  }
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 0fr);
  }
}

@media (min-width: 901px) {
  main {
    grid-template-columns: repeat(3, 0fr);
  }
}
